<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mvp.using.java">
    <!-- ======================================================================================= -->
    <!-- Normal Permissions ( automatically granted by the system ) -->
    <!-- ======================================================================================= -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.NFC_TRANSACTION_EVENT" />
    <uses-permission android:name="android.permission.NFC_PREFERRED_PAYMENT_INFO" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" /> <!-- ======================================================================================= -->
    <!-- Dangerous Permissions ( includes nine permission groups, granted by the user ) -->
    <!-- ======================================================================================= -->
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front.autofocus"
        android:required="false" />

    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.WRITE_PROFILE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.WRITE_CALL_LOG" />
    <uses-permission android:name="android.permission.ADD_VOICEMAIL" />
    <uses-permission android:name="com.android.voicemail.permission.ADD_VOICEMAIL" />
    <uses-permission android:name="android.permission.USE_SIP" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.BODY_SENSORS" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_WAP_PUSH" />
    <uses-permission android:name="android.permission.RECEIVE_MMS" />
    <uses-permission android:name="android.permission.READ_CELL_BROADCASTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ANSWER_PHONE_CALLS" />
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.ACCESS_SUPERUSER" />

    <application
        android:name=".BaseApplication"
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/AppBaseTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:allowBackup">
        <activity android:name=".ui.captureimage.CaptureImageActivity">

        </activity>
        <activity android:name=".ui.capturevideo.CaptureVideoActivity" >
        </activity>
        <!--
            Prevents restarts activity when the below configuration changes.
            android:configChanges="layoutDirection|uiMode|locale|orientation|screenSize......."
        -->
        <activity
            android:name=".ui.design.ScrollActivity"
            android:configChanges="layoutDirection|locale|keyboardHidden|orientation|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme.NoActionBar.StatusBar"
            android:windowSoftInputMode="adjustResize|stateAlwaysVisible" />
        <activity
            android:name=".ui.design.ScrollWithEditTextActivity"
            android:configChanges="layoutDirection|locale|keyboardHidden|orientation|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme.NoActionBar.StatusBar" />
        <activity
            android:name=".ui.design.ScrollWithOneBottomButtonActivity"
            android:configChanges="layoutDirection|locale|keyboardHidden|orientation|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme.NoActionBar.StatusBar" />
        <activity
            android:name=".ui.design.ScrollWithTwoBottomButtonActivity"
            android:configChanges="layoutDirection|locale|keyboardHidden|orientation|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme.NoActionBar.StatusBar" />
        <activity
            android:name=".ui.design.ScrollWithTwoTextViewButtonActivity"
            android:configChanges="layoutDirection|locale|keyboardHidden|orientation|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme.NoActionBar.StatusBar" />
        <activity
            android:name=".ui.fragment.FragmentTestActivity"
            android:configChanges="layoutDirection|locale|keyboardHidden|orientation|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme.NoActionBar.StatusBar.OverflowMenu"  >
        </activity>
        <activity
            android:name=".ui.search.SearchActivity"
            android:configChanges="layoutDirection|locale|keyboardHidden|orientation|screenSize|screenLayout"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme.NoActionBar.StatusBar.OverflowMenu"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.dashboard.DashboardActivity"
            android:configChanges="layoutDirection|locale|keyboardHidden|orientation|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme.NoActionBar.StatusBar.OverflowMenu" />
        <activity
            android:name=".ui.splash.SplashActivity"
            android:configChanges="layoutDirection|locale|keyboardHidden|orientation|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme.NoActionBar.Launcher" />
        <activity android:name=".ui.sharepreferences.SharedPreferencesTestActivity" />
        <activity android:name=".ui.network.UploadFileActivity" />
        <activity android:name=".ui.network.DownloadFileActivity" />
        <activity
            android:name=".ui.network.RequestTestActivity"
            android:configChanges="layoutDirection|locale|keyboardHidden|orientation|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme.NoActionBar"   >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.crash.CrashTestActivity" />
        <activity android:name=".ui.dialog.ShowAlertDialogActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>